@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");



.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .current {
  background-color: #41EBC6;
  color: white;
  border: 1px solid #41EBC6;
}

/* Di dalam file carikost.css */
.bookmark-btn {
  position: relative;
  font-size: 30px; 
  color: #41EBC6; 
  margin-left: 180px; 
  top: -50px;
  background-color: white;
  border: white;
}

#btnDetail {
  margin-top: -50px;
  color: #41EBC6;
}




body{
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
  background-color: #E7FAF6;
}

/* search */
.search {
  border-radius: 10px;
  flex: 1;
  width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 1px;
  margin-left: -60px;
  padding-top:10px;
}

.search input {
  border: 2px solid #C0EEE4; 
}

/* button search */
.search .btn{ 
  border-radius: 10px;
  color: white;
  background-color: #41EBC6;
  margin-left: 0px;
  width: 40px; 
  height: 40px; 
}
/*Search End*/


#logoHeader{
  background-color: #E7FAF6;
  color :#E7FAF6;
}

#conheader{
  background-color: #E7FAF6;
  color :#E7FAF6;
}


body header{
  background-color: #E7FAF6;
}


header .container {
  width: 100%;
  margin: 0 auto;
  background-color: #E7FAF6;
  padding-top : 10px;
}

/*Sidebar*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #E7FAF6;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

nav .sidebar{
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #FFF;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

nav.open .sidebar {
  left: 0;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 12px 14px;
  border-radius: 8px;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #595959;
}

.nav-link .link {
  font-size: 16px;
  color: #595959;
  font-weight: 400;
}

.lists .nav-link:hover {
  background-color: #6DD6BF;
}


.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
  pointer-events: none;
}

nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

/*sidebar end*/

img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}


header .logo {
  flex: 1;
  margin-right: 100px;
  font-size: 30px;
}


#button-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px; 
}

#username{
  color :black;
  padding-top: 15px;
}

.custom-button2 {
  width: 100px; 
  height: 40px; 
  background-color: #E29578;
  border : transparent;
}

/*Header End*/

/* filter button */
.filter-button {
  text-align: center; 
  margin-top: 30px; 
}

.filter-button button {
  color: white;
  background-color: #41EBC6;
  margin: 0 5px; 
  width: 200px;
}


/*ukuran card */
#cobacard{
  position: relative;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  z-index: 99;
  border: 3px solid #41EBC6;
  width: 250px;
  height: 370px;
}

#rowcard{
  padding-left:20px;
  padding-left:20px;
}

/*container card */
#conmain{
  /* margin-left: 140px; */
  padding: 20px;  
  height: auto;
  padding-bottom: 30px;
}

#concard{
  background-color:pink;
}

/*ukuran card */
/* .card {
  position: relative;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  z-index: 99;
  border: 3px solid #41EBC6;
  width: 250px;
  height: 370px;
} */

/* batas per card */
.col-md-3 {
  margin: -5px;
  height: auto;
}

/* Aturan CSS untuk border dan gambar di dalamnya */

.border-image img{
  width: 150px;
  height: 180px;
}

.card-title{
  margin-top: 0;
  font-weight: bold;
  font-size: larger;
  color: #000000;
}

.card-text1{
  margin-top: 0px;
  font-weight:bold;
  font-size: larger;
  color: #41EBC6;
}

.card-text2{
  margin-top: 0px;
  font-weight:bold;
  font-size: larger;
  color: #41EBC6;
}

#bookmarkIcon {
  position: relative;
  font-size: 30px;
  color: #41EBC6;
  cursor: pointer;
}


/* .card-text1::after {
  content: "jt/thn ";
  color: #41EBC6;
} */

/* end card */


/*footer start*/
.footer{
	  background-color: #E7FAF6;
    color: #000000;
    padding: 20px 0;
   
}

.logo-footer img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer-col {
    flex: 1;
    margin: 0 40px;
    
}

.footer-col a {
    text-decoration: none;  
    color: #333; 
    font-weight: normal; 
}

.logo-footer img {
    max-width: 100%;
    height: auto;
}


.footer-col h4{
	font-size: 18px;
	color: #000000;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.footer ul{
    color: black;
}

hr {
    border: 1px solid #000; 
}

.social-links a {
    font-size: 10px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #24262b;
    background-color: #85DAC8;
}

/*Footer End*/

/* responsive */
@media (max-width: 768px) {
  header {
    height: auto;
    flex-direction: column;
  }

  .search {
    width: 100%;
    margin-left: 0;
  }

  .search input {
    width: 100%;
  }

  .search .btn {
    width: 80px;
    height: 40px;
  }

  #logoHeader,
  #conheader,
  body header {
    background-color: #E7FAF6;
  }

  nav .logo {
    margin: 0 10px;
  }

  .logo .menu-icon {
    font-size: 20px;
  }

  .logo .logo-name {
    font-size: 18px;
  }

  nav .sidebar {
    width: 200px;
    padding: 10px 0;
  }

  .sidebar-content .list .nav-link {
    padding: 10px;
  }

  .custom-button1,
  .custom-button2 {
    width: 80px;
    height: 30px;
  }

  .filter-button {
    text-align: center;
    margin-top: 100px;
  }

  .filter-button button {
    color: white;
    background-color: #41EBC6;
    margin: 0 5px;
    width: 100px; 
  }

  #conmain {
    margin-left: 0;
    height: 900px;
  }

  .col-md-3 {
    margin: 10px;
  }

  .card {
    width: 100%;
    height: 250px;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #41EBC6;
  }

  .border-image img {
    width: 100%;
    height: auto;
  }

  .card-title {
    font-weight: bold;
    font-size: 14px; 
    color: #000000;
  }

  .card-text1,
  .card-text2 {
    font-weight: bold;
    font-size: 12px; 
    color: #41EBC6;
    margin-top: 5px; 
  }


  .footer {
    padding: 30px 0;
  }

  .logo-footer img {
    width: 100px;
    margin-bottom: 10px;
  }

  .footer-col {
    flex: 1;
    margin: 0 10px;
  }

  .footer-col h4 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .social-links a {
    font-size: 14px;
    height: 30px;
    width: 30px;
  }
}